#sfadminmenu [class*=spaicon-],
#sfmaincontainer .sp-icon {
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    vertical-align: top;
    background-color: white;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-mask-size: 100%;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-size: 100%;
    mask-position: center;
    mask-repeat: no-repeat;
}
#sfmaincontainer .sf-panel-head [class*=button] .sp-icon {
    height: 16px;
    width: 16px;
}
#sfmaincontainer [class*=button] .sp-icon {
    margin-right: 10px;
}
#sfmaincontainer .sp-icon.install {
    -webkit-mask-image: url("../icons/Install.svg");
    mask-image: url("../icons/Install.svg");
}
#sfmaincontainer .sp-icon.help {
    -webkit-mask-image: url("../icons/Help.svg");
    mask-image: url("../icons/Help.svg");
}
#sfmaincontainer .sp-icon.go {
    -webkit-mask-image: url("../icons/Go.svg");
    mask-image: url("../icons/Go.svg");
}
#sfmaincontainer .sp-icon.waiting {
    background-color: #AAABAD;
    -webkit-mask-image: url("../icons/Waiting.svg");
    mask-image: url("../icons/Waiting.svg");
}
#sfmaincontainer .sp-icon.check {
    background-color: #32AA63;
    -webkit-mask-image: url("../icons/Check.svg");
    mask-image: url("../icons/Check.svg");
}
#sfadminmenu .spaicon-Forums,
#sfmaincontainer .sp-icon.forums {
    -webkit-mask-image: url("../icons/Forums.svg");
    mask-image: url("../icons/Forums.svg");
}
#sfadminmenu .spaicon-Options,
#sfmaincontainer .sp-icon.options {
    -webkit-mask-image: url("../icons/Options.svg");
    mask-image: url("../icons/Options.svg");
}
#sfadminmenu .spaicon-Components,
#sfmaincontainer .sp-icon.components {
    -webkit-mask-image: url("../icons/Components.svg");
    mask-image: url("../icons/Components.svg");
}
#sfadminmenu .spaicon-UserGroups,
#sfmaincontainer .sp-icon.user-groups {
    -webkit-mask-image: url("../icons/User Groups.svg");
    mask-image: url("../icons/User Groups.svg");
}
#sfadminmenu .spaicon-Permissions,
#sfmaincontainer .sp-icon.permissions {
    -webkit-mask-image: url("../icons/Permissions.svg");
    mask-image: url("../icons/Permissions.svg");
}
#sfadminmenu .spaicon-Integration,
#sfmaincontainer .sp-icon.integration {
    -webkit-mask-image: url("../icons/Integration.svg");
    mask-image: url("../icons/Integration.svg");
}
#sfadminmenu .spaicon-Profiles,
#sfmaincontainer .sp-icon.profiles {
    -webkit-mask-image: url("../icons/Profiles.svg");
    mask-image: url("../icons/Profiles.svg");
}
#sfadminmenu .spaicon-Admins,
#sfmaincontainer .sp-icon.admins {
    -webkit-mask-image: url("../icons/Admins.svg");
    mask-image: url("../icons/Admins.svg");
}
#sfadminmenu .spaicon-Users,
#sfmaincontainer .sp-icon.users {
    -webkit-mask-image: url("../icons/Users.svg");
    mask-image: url("../icons/Users.svg");
}
#sfadminmenu .spaicon-Plugins,
#sfmaincontainer .sp-icon.plugins {
    -webkit-mask-image: url("../icons/Plugin.svg");
    mask-image: url("../icons/Plugin.svg");
}
#sfadminmenu .spaicon-Themes,
#sfmaincontainer .sp-icon.themes {
    -webkit-mask-image: url("../icons/Theme.svg");
    mask-image: url("../icons/Theme.svg");
}
#sfadminmenu .spaicon-Toolbox,
#sfmaincontainer .sp-icon.toolbox {
    -webkit-mask-image: url("../icons/Toolbox.svg");
    mask-image: url("../icons/Toolbox.svg");
}

#sfmaincontainer .sp-icon.working {
    background-color: transparent;
    background-size: 16px;
    background-image: url("../icons/working.gif");
    /*background-color: #0E7198;
    -webkit-mask-size: 16px;
    mask-size: 16px;
    -webkit-mask-image: url("../icons/working.gif");
    mask-image: url("../icons/working.gif");*/
}

