



.sfinline-form {
    background-color: #E9EDF6;
    border: none !important;
}

.clearboth {
    clear: both;
    height: 1px;
    overflow: hidden;
}

.clearleft {
    clear: left;
    height: 10px;
}

.sfhidden {
    display: none;
}

.sfalignright {
    float: right;
}

.sfalignleft {
    float: left;
}

.spDeleteRow {
    cursor: pointer;
}

/* handle wp error display in forum ajax content */
.updated,
.error {
    clear: none;
    margin-left: 10px
}

.updated p,
.error p {
    font-size: 14px;
    font-weight: 600;
}

.spWait {
    float: left;
    margin: 5px 12px 5px 0;
}

/* TOOLBAR BUTTIONS ================================================================================*/

.sfamenutable {
    float: left;
    border: 0;
}

.message {
    background-color: #fffbcc;
    border: 1px solid #e6db55;
    padding: 0 0.6em;
    margin: 5px 15px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

/* MAIN SPF FORM PANEL =============================================================================*/

.sfform-panel-spacer {
    /*min-height: 15px;*/
}

.spWarningBG {
    background-color: #F5ABAB !important;
}

/* FORM TABLE (WP) - MAIN FORM TABLE ===============================================================*/

.form-table {
    border-collapse: collapse;
    margin-top: .1em;
    margin-bottom: .1em;
    width: 100%;
}

.form-table th {
    font-weight: 600;
    font-size: 11px;
    text-align: left;
    padding: 5px 10px 5px 10px;
    text-shadow: none;
    width: auto;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-color: #cccccc;
}

.form-table td {
    margin: 0 0 0 0;
    padding: 3px 5px;
    border: 1px solid #ddd !important;
    line-height: 15px;
    min-height: 25px;
    vertical-align: middle;
}

.form-table td.sflabel,
.form-table td p {
    padding: 1px 6px;
    background: transparent;
    font-size: 13px;
    min-height: 25px;
    text-shadow: none;
    line-height: 1.2em;
    vertical-align: middle !important;
}

td.sferror {
    margin: 0 !important;
    padding: 5px 6px;
    font-size: 14px;
    height: auto !important;
    text-shadow: none;
    line-height: 1.2em;
    vertical-align: middle !important;
}

.spaErrError {
    background: #FFE4E1;
    border-bottom: 5px solid #FFFFFF;
}

.spaErrWarning {
    background: #FFE4B5;
    border-bottom: 5px solid #FFFFFF;
}

.spaErrNotice {
    background: #B0E0E6;
    border-bottom: 5px solid #FFFFFF;
}

.spaErrStrict {
    background: #DCDCDC;
    border-bottom: 5px solid #FFFFFF;
}

.spaSecNotice {
    background: #F7E5FF;
    border-bottom: 5px solid #FFFFFF;
}

.sfhelptext td.spaErrCell {
    width: 20%;
    text-align: center;
}

.sfhelptext td.spaErrCellDesc {
    width: 20%;
    padding: 5px 5px 5px 0;
    font-size: 11px;
}

.form-table td.highlight {
    background-color: #FFB8B8;
}

.form-table .table-cbox {
    border: none;
    min-height: 25px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    width: 100%;
}

.form-table td.td-cbox {
    min-height: 25px;
    border: none !important;
    margin: 0 0 0 0;
    padding: 3px 5px 3px 0;
    font-size: 13px;
    vertical-align: middle !important;
}

.form-table td.longmessage {
    height: 88px !important;
    font-weight: 600;
}

/* TABLE - SFMAIN and SFSUB ========================================================================*/

.sfmaintable, .sfsubtable {
    border-collapse: collapse;
    width: 100%;
}

.sfmaintable {
    margin-bottom: 8px;
}

.sfmaintable th, .sfsubtable th {
    font-weight: 600;
    font-size: 11px;
    padding: 5px 3px;
}

.sfmaintable tr, .sfsubtable tr {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    margin: 0;
}

.sfmaintable td, .sfsubtable td {
    vertical-align: middle !important;
    font-size: 12px;
    padding: 2px 5px;
}

.sfugrouptable tr, .sfugrouptable td {
    vertical-align: top !important;
}

.sfmaintable td p, .sfsubtable td p {
    line-height: 1em;
    margin: 0 0 4px 0;
    padding: 0;
}

#current-theme p.theme-parent,
#availablethemes p.theme-parent {
    margin-top: -20px;
    padding-bottom: 10px;
}

.theme-browser .spThemeContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.theme-browser .spTheme {
    margin: 15px;
    float: left;
    cursor: pointer;
    position: relative;
    border: 1px solid #999999;
    box-sizing: border-box;
    padding: 10px 15px;
    background: white;
    text-align: center;
}

.spTheme select {
    margin-top: -5px;
}

.theme-browser .spTheme img {
    max-width: 100%;
}

/* MAIN SPF FORM PANEL BUTTONS =====================================================================*/

p.sf-upload-status-success {
    margin: 5px !important;
    padding: 5px !important;
    background: #008000 !important;
    font-weight: 600;
    color: #ffffff !important;
    height: auto !important;
}

p.sf-upload-status-fail {
    margin: 5px !important;
    padding: 5px !important;
    background: #800000 !important;
    font-weight: 600;
    color: #ffffff !important;
    height: auto !important;
}


#onFinish {
    display: none;
    font-weight: 600;
    cursor: default;
}

/*.radio {
    padding: 4px 0;
}*/

.sfempty {
    border: 1px solid #DDDDDD;
    padding: 5px;
    background-color: #FFFFAA;
    margin-bottom: 18px;
}

#sfeditwindow {
    margin-right: 200px;
}

#spnewcontent {
    width: 100%;
}

#sfeditside {
    clear: both;
    float: right;
    width: 190px;
    word-wrap: break-word;
    margin-top: 20px;
}

#sfeditside li {
    margin: 4px 0 4px 2px;
}

#sfeditside .highlight {
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    font-weight: 600;
    padding: 4px 10px;
    margin-left: -10px;
}

@media screen and (max-width: 800px) {
    #sfeditside {
        float: none;
    }

    #sfeditwindow {
        margin-right: 0;
    }

    #sfeditwindow textarea {
        width: 100%;
    }
}

#spAbout {
    text-align: center;
}


/* FORM USER GROUP / RANKS - MEMBER LIST ===================================================================*/

ul.memberlist {
    width: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.memberlist li {
    width: 100px;
    margin: 0;
    padding: 0;
    float: left;
    font-size: 10px;
}

/* SORTABLE STYLES ==============================================================*/

#groupList,
#tabsList,
#sf-list-sortable,
#sfavataroptions {
    padding: 1em 0;
    width: auto;
}

#tabsList .sf-list li,
#sf-list-sortable .sf-list li,
#sfavataroptions.sf-list li {
    margin-bottom: 10px;
    position: relative;
}

#groupList li {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0;
    width: auto;
    position: relative;
}


.sf-list-item-disabled {
    background: #e9cfdf;
}

.sf-list-item.sf-list-item-depth-0 {
    width: auto;
    margin: auto;
    padding-left: 10px;
}

.placeholder {
    outline: 1px dashed #333333;
    left: 20px;
}

.sf-list .sortable-placeholder {
    /*height: 35px;
    margin-top: 13px;
    margin-left: 30px;
    width: 500px !important;*/
}

#sf-root-wrap .sf-list-item-settings {
    background-color: #FFF;
    border: 1px solid #EAF0F4;
    border-top: none;
    -khtml-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    padding: 18px 20px 22px;
    margin: 0 0 15px;
}


/* user panel profile popup =========================================================================================*/

.spClear {
    clear: both;
}

.spLeft {
    float: left;
}

.spRight {
    float: right;
}

.spCenter {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.spProfileShowSection p {
    padding: 0;
    margin: 0;
    line-height: 1.2em;
}

.spProfileShowSection,
.spProfileShowHeaderSection {
    color: inherit;
    background: transparent;
    border: inherit;
    padding: 5px;
    width: auto;
}

.spProfileShowHeaderSection {
    margin: 10px 5px;
}

.spProfileShowSignatureSection,
.spProfileShowBasicSection,
.spProfileShowDetailsSection,
.spProfileShowPhotosSection,
.spProfileShowLinkSection {
    background: #F0F4F7;
    border: 1px solid #BBBBBB;
    color: #777777;
    padding: 10px;
    margin: 10px 5px 20px;
    width: auto;
    -khtml-border-radius: 9px;
    -webkit-gradientborder-radius: 9px;
    border-radius: 9px;
}

.spProfileShowAvatarSection,
.spProfileShowInfoSection,
.spProfileShowIdentitiesSection,
.spProfileShowStatsSection {
    color: inherit;
    background: transparent;
    border: none;
    margin: 10px 5px;
    width: auto;
}

.spProfileShowHeader {
    font-size: 1.4em;
}

.spProfileShowHeaderEdit {
    font-size: 0.6em;
    vertical-align: middle;
}

img.spOnlineStatus {
    padding-left: 5px;
    vertical-align: middle;
}

.spProfileShowSection hr {
    background: #F0F4F7;
    border: 1px solid #BBBBBB;
    color: #777777;
    height: 2px;
}

.spProfileSpacerCol {
    float: left;
    text-align: left;
    width: 5%;
}

.spProfileRightCol {
    float: left;
    text-align: left;
    width: 60%;
}

.spProfileLeftCol {
    clear: both;
    float: left;
    text-align: right;
    width: 35%;
}

.spProfileRightHalf {
    float: left;
    text-align: left;
    width: 47%;
}

.spProfileLeftHalf {
    float: left;
    text-align: left;
    width: 47%;
}
table td.permentry {
    vertical-align: top !important;
    padding: 5px !important;
    border-bottom: 1px solid #cccccc !important;
    line-height: 1em !important;
}

.permwarning {
    background: #F78F8F !important;
    border: 1px solid red !important;
}

table td.permhead {
    vertical-align: middle !important;
    padding: 8px 5px !important;
    border: 1px solid #555555 !important;
    line-height: 1em !important;
    font-weight: 600 !important;
    font-size: 13px !important;
    background-color: #FFFFFF !important;
}

/* Troubleshooting Help Page
----------------------------------*/

#sf-root-wrap .helpAndFAQ fieldset {
    background: #FFFFFF;
}

.box-head {
    width: 100%;
    height: 48px;
    border: 1px solid red;
}

.codex img {
    float: left;
    margin: 0 5px 10px 0;
}

.codex-link {
    background: url(images/help.png) no-repeat 0 4px;
    height: 20px;
    width: 24px;
    float: left;
}

.codex a {
    font-weight: 600;
    font-size: 15px;
}

.codex div.codex-head,
.codex div.codex-sub {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 0 0;
    padding: 5px;
    line-height: 1em;
    vertical-align: middle !important;
    position: relative;
}

.codex p.codex-sub {
    font-size: 15px;
    color: #8B1A1A;
}

.codex p {
    margin: 0 0 8px 0;
    padding: 0;
}

.key-word-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: square;
    font-size: 14px;
    font-weight: 600;
    width: 31%;
    height: 870px;
    margin-left: 10px;
}

.key-word {
    cursor: pointer;
    padding: 2px 15px 2px 0 !important;
}

.key-word:hover {
    color: #D54E21;
}

.task-link {
    background: url(images/go.png) no-repeat 0 4px;
    height: 20px;
    width: 24px;
    float: left;
}

/* ============================= */
/* Experimental Responsive Stuff */
/* ============================= */

.sfform-panel-nohead {
    -khtml-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.sp-full-row {
    width: 100%;
}

.sp-half-row-left {
    width: 55%;
    display: inline-block;
}

.sp-half-row-right {
    width: 43%;
    display: inline-block;
}

.sf-button-jump-left {
    float: right;
}

#sf-upload-button {
    margin-bottom: 10px;
}

@media screen and (max-width: 1200px) {
    .sp-half-row-left {
        width: 100%;
    }

    .sp-half-row-right {
        width: 100%;
        float: left;
    }

    .sf-button-jump-left {
        float: left;
    }
}

.spLinkHighlight {
    border: 1px solid #555;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 0 6px;
    margin-left: -7px;
    background-color: #FFFFCC;
}

/*.sp-label,
.sp-label-40,
.sp-label-50,
.sp-label-60,
.sp-label-66 {
    float: left;
}

.sp-label-40 {
    width: 40%;
}

.sp-label-50 {
    width: 50%;
}

.sp-label-60 {
    width: 60%;
}

.sp-label-66 {
    width: 66%;
}

.sp-input-40,
.sp-input-60 {
    float: right;
}

.sp-input-40 {
    width: 35%;
}

.sp-input-60 {
    width: 55%;
}

.sp-textarea,
.sp-textarea-50,
.sp-textarea-33 {
    float: right;
}

.sp-textarea {
    width: 100%;
}

.sp-textarea-50 {
    width: 47%;
}

.sp-textarea-33 {
    width: 31%;
}

.sp-radio {
    width: 95%;
    margin: 0;
    padding: 0;
    float: right;
}*/

.subArrow {
    padding: 0;
    margin: 0 4px 0 0;
    float: left;
}

.parentArrow {
    padding: 0;
    margin: 0;
}

.sf-fieldset .floatList li {
    float: left;
    width: 23%;
    margin-bottom: 5px;
}


@media screen and (max-width: 1300px) {
    .sf-fieldset .floatList li {
        width: 30%;
    }
}

@media screen and (max-width: 1100px) {
    .sf-fieldset .floatList li {
        width: 45%;
    }
}

@media screen and (max-width: 550px) {
    .sf-fieldset .floatList li {
        width: 95%;
    }
}

.floatListLabel {
    margin-left: 32px;
}

.sf-fieldset hr {
    border: 1px solid #aaaaaa;
}

#wpbody .msAddControl {
    width: 140px;
    font-size: 12px;
    height: auto;
}

/* list table stuff */

#wpbody #sf-root-wrap .tablenav span.displaying-num {
    vertical-align: middle !important;
}

#wpbody #sf-root-wrap .tablenav span.total-pages {
    vertical-align: text-bottom !important;
}

/* mobile table stuff */

#wpbody table.wp-list-table.spMobileTable800 td,
#wpbody table.wp-list-table.spMobileTable800 td.spCenter,
#wpbody table.wp-list-table.spMobileTable1280 td,
#wpbody table.wp-list-table.spMobileTable1280 td.spCenter {
    text-align: left;
}

#wpbody table.spMobileTable800 td,
#wpbody table.spMobileTable800 td.spCenter,
#wpbody table.spMobileTable1280 td,
#wpbody table.spMobileTable1280 td.spCenter {
    text-align: center;
}

#wpbody table.spMobileTable800 td.spLeft,
#wpbody table.spMobileTable1280 td.spLeft {
    text-align: left;
}

@media screen and (max-width: 799px) {
    #wpbody table.spMobileTable800 table,
    #wpbody table.spMobileTable800 thead,
    #wpbody table.spMobileTable800 tbody,
    #wpbody table.spMobileTable800 th,
    #wpbody table.spMobileTable800 td,
    #wpbody table.spMobileTable800 tr {
        display: block;
    }

    #wpbody table.spMobileTable800 thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #wpbody table.spMobileTable800 tr {
        border: 1px solid #ccc;
    }

    #wpbody table.spMobileTable800 tr.spInlineSection {
        display: none;
    }

    #wpbody table.spMobileTable800 tr.spMobileTableData td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    #wpbody table.spMobileTable800 tr.spMobileTableData td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 5px;
        left: 5px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
    }

    /* Label the data */
    #wpbody table.spMobileTable800 tr.spMobileTableData td:nth-of-type(1):before {
        content: attr(data-label);
    }

    #wpbody table.spMobileTable800 tr.spMobileTableData td:nth-of-type(2):before {
        content: attr(data-label);
    }

    #wpbody table.spMobileTable800 tr.spMobileTableData td:nth-of-type(3):before {
        content: attr(data-label);
    }

    #wpbody table.spMobileTable800 tr.spMobileTableData td:nth-of-type(4):before {
        content: attr(data-label);
    }

    #wpbody table.spMobileTable800 tr.spMobileTableData td:nth-of-type(5):before {
        content: attr(data-label);
    }

    #wpbody table.spMobileTable800 tr.spMobileTableData td:nth-of-type(6):before {
        content: attr(data-label);
    }

    #wpbody table.spMobileTable800 tr.spMobileTableData td:nth-of-type(7):before {
        content: attr(data-label);
    }

    #wpbody table.spMobileTable800 tr.spMobileTableData td:nth-of-type(8):before {
        content: attr(data-label);
    }

    #wpbody table.spMobileTable800 tr.spMobileTableData td:nth-of-type(9):before {
        content: attr(data-label);
    }

    #wpbody table.spMobileTable800 tr.spMobileTableData td:nth-of-type(10):before {
        content: attr(data-label);
    }
}

@media screen and (max-width: 1279px) {
    #wpbody table.spMobileTable1280 table,
    #wpbody table.spMobileTable1280 thead,
    #wpbody table.spMobileTable1280 tbody,
    #wpbody table.spMobileTable1280 th,
    #wpbody table.spMobileTable1280 td,
    #wpbody table.spMobileTable1280 tr {
        display: block;
    }

    #wpbody table.spMobileTable1280 thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #wpbody table.spMobileTable1280 tr {

    }

    #wpbody table.spMobileTable1280 tr.spInlineSection {
        display: none;
    }

    #wpbody table.spMobileTable1280 tr.spMobileTableData td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    #wpbody table.spMobileTable1280 tr.spMobileTableData td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 5px;
        left: 5px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
    }

    /* Label the data */
    #wpbody table.spMobileTable1280 tr.spMobileTableData td:nth-of-type(1):before {
        content: attr(data-label);
    }

    #wpbody table.spMobileTable1280 tr.spMobileTableData td:nth-of-type(2):before {
        content: attr(data-label);
    }

    #wpbody table.spMobileTable1280 tr.spMobileTableData td:nth-of-type(3):before {
        content: attr(data-label);
    }

    #wpbody table.spMobileTable1280 tr.spMobileTableData td:nth-of-type(4):before {
        content: attr(data-label);
    }

    #wpbody table.spMobileTable1280 tr.spMobileTableData td:nth-of-type(5):before {
        content: attr(data-label);
    }

    #wpbody table.spMobileTable1280 tr.spMobileTableData td:nth-of-type(6):before {
        content: attr(data-label);
    }

    #wpbody table.spMobileTable1280 tr.spMobileTableData td:nth-of-type(7):before {
        content: attr(data-label);
    }

    #wpbody table.spMobileTable1280 tr.spMobileTableData td:nth-of-type(8):before {
        content: attr(data-label);
    }

    #wpbody table.spMobileTable1280 tr.spMobileTableData td:nth-of-type(9):before {
        content: attr(data-label);
    }

    #wpbody table.spMobileTable1280 tr.spMobileTableData td:nth-of-type(10):before {
        content: attr(data-label);
    }
}

@media screen and (max-width: 460px) {
    select {
        width: 100%;
    }

    input {
        max-width: 100%;
    }
}

@media screen and ( max-width: 782px ) {
    .wp-list-table:not(.spMobileTable800):not(.spMobileTable1280) th {
        display: table-cell !important;
        padding: 4px !important;
    }

    .wp-list-table:not(.spMobileTable800):not(.spMobileTable1280) tr {
        display: table-row !important;
        padding: 4px !important;
    }

    .wp-list-table:not(.spMobileTable800):not(.spMobileTable1280) td {
        display: table-cell !important;
        padding: 4px !important;
    }
}
/* End experimental responsive stuff */

/*************************************************************************/
/* Style adjustments for new licensing tab introducted in 6.0.7 / 6.1.0 */
/*************************************************************************/
.form-table td.sp_td_left{
    /* 
     * The license scren tables consists of two uneven columns;
     * this section helps to style the left column.
    */
    font-weight: 600;
    font-size: 12px;
    text-align: left;
    padding: 5px 10px 5px 10px;
    border-style: solid;
    border-width: 1px 1px 1px;
    border-color: #ccc;
    width:20%;
    border-bottom: 1px solid #ddd;
    color: #000000;
}

.form-table td.sp_td_licence_info{
    font-weight: 600; 
    line-height: 18px; 
    font-size: 12px;
}

.sp_addons_not_found { 
    margin-left: 0px;
}
.sp_addon_title{ 
    font-size: 17px;
    color: #0073aa;
    font-weight: 600;
    margin-bottom: 10px; 
}

.sp-licensing_note_list{
    margin:10px;
}

.sp-licensing-key-active{color:green;}

.sp-licensing-key-error{color:red;}

.thickbox.open-plugin-details-modal.spPluginUpdate {
    color: #0073aa;
    cursor: pointer;
}


/* End style adjustments for licensing tab */


/*
Style font- icon picker
*/

#spIconsetsList .sf-item-controls {
    position: initial;
}


.icons-selector.fip-bootstrap {
    float: left;
}


/*.icons-selector .selector-popup, .icons-selector.selector-popup-wrap, .icons-selector .selector-popup-wrap {
        right: 0 !important;
}*/

.sf-iconset-icon img {
    max-width: 56px;
    max-height: 36px;
}


.sf-icon-picker-row {
    float:right;
}

.sf-icon-picker-row .wp-picker-container  .wp-color-result-text {
    line-height: 22px;
    padding-right: 6px;
    padding-left: 6px;
}

.sf-icon-picker-row .font-style-container .font-color-container {
    float: left;
    width: 60%;
}

.sf-icon-picker-row .font-style-container .font-size-container {
    float: right;
}


.sf-icon-picker-row .font-size-container .font-style-size {
    margin-right: 6px;
    width: 70px;
    height: 20px;
}


.sf-icon-picker-row .font-size-container select {
    height: 14px;
    line-height: 18px;
    height: 20px;
    margin: 0;
    padding: 0;
    margin-bottom: 4px;
}


.sf-icon-picker-row .wp-picker-container input[type=text].wp-color-picker {
    line-height: 20px;
}


.sf-icon-picker-row .wp-picker-container .wp-color-result.sf-button {
    padding-left: 45px;
}
/* Update WP footer margin since we add text at bottom */
#footer {
    margin-top: -60px !important;
}


/* MAIN SPF SURROUNDING TABLE CONTAINER ============================================================*/

@media screen and (max-width: 4000px) {
    .innershell, .theme-browser .spTheme {
        width: 30%;
        float: left;
        padding: 10px 10px 0 0;
    }
}

@media screen and (max-width: 1400px)  and (min-width: 899px) {
    .innershell, .theme-browser .spTheme {
        width: 45%;
    }
}

@media screen and (max-width: 900px)  and (min-width: 799px) {
    .innershell, .theme-browser .spTheme {
        width: 98%;
    }
}

@media screen and (max-width: 800px)  and (min-width: 0) {
    .sfamenutable {
        display: none;
    }

    /* table elements to hide when mobile */
    .logRelease,
    .logBy,
    .logDetail,
    .checkIcon {
        display: none;
    }

    .innershell, .theme-browser .spTheme {
        width: 98%;
    }
}

@media screen and (max-width: 640px) {
    #sf-root-wrap .sp-half-form {
        width: 100%;
    }
    #sf-root-wrap .sf-panel-body .sp-half-form+.sp-half-form {
        padding-left: 0;
    }
}