/*
Simple:Press Admin CSS
$LastChangedDate:2009-06-23 00:17:06 +0100 (Tue, 23 Jun 2009) $
$Rev:2099 $
*/

/* Some overrides of WP Admin to fit our panels */

@import url(//fonts.googleapis.com/css?family=Open+Sans);
/*@import url(//use.fontawesome.com/releases/v5.8.2/css/all.css);*/

@import url(./icon.css?v=100);
@import url(./radio-cb.css?v=1);

@font-face {
    font-family: 'Open Sans Semibold';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Semibold'), local('OpenSansSemibold-Regular'),
        url(./fonts/open-sans-semibold.woff) format('woff'),
        url(./fonts/open-sans-semibold.ttf) format('truetype');
}

#wpwrap {
    overflow: hidden;
}
#sfsidepanel *, #sfmaincontainer * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#sfsidepanel, #sfmaincontainer {
    font-family: "Open Sans";
    font-style: normal;
}
#sfmaincontainer .sf-panel-body {
    float: left;
    width: 100%;
    padding: 30px;
    background-color: #F9F9F9;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
#sfmaincontainer .sf-panel-body .alert-block {
    font-size: 14px;
    line-height: 19px;
    padding: 16px;
    margin: 0 0 30px 0;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#sfmaincontainer .sf-panel-body .alert-block.info {
    background-color: rgba(0, 185, 208, .1);
    border: 1px solid rgba(0, 185, 208, .5);
    color: #006992;
    opacity: .5;
}
#sfmaincontainer .sffieldset .alert-block {
    margin: 20px;
}

#sfmaincontainer p.description {
    font-family: "Open Sans Semibold";
    font-style: normal;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 24px;
    color: #27476E;
}
#sfmaincontainer hr {
    border-bottom: 1px solid #433F3F;
}

/* FORM CONTROLS ===================================================================================*/
#sfmaincontainer ::-webkit-input-placeholder, /* Chrome/Opera/Safari */
#sfmaincontainer ::-moz-placeholder, /* Firefox 19+ */
#sfmaincontainer :-moz-placeholder, /* Firefox 18- */
#sfmaincontainer :-ms-input-placeholder { /* IE 10+ */
    font-size: 12px;
    line-height: 17px;
    color: #9D9EA0;
}
#sfmaincontainer input,
#sfmaincontainer select,
#sfmaincontainer textarea,
#sfmaincontainer .select-wrap {
    margin: 0;
    padding: 16px 16px 15px;
    width: 100%;
    color: #47484A;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid #F0F0F0;
}
#sfmaincontainer input,
#sfmaincontainer select,
#sfmaincontainer .select-wrap {
    height: 50px;
}

#sfmaincontainer select {
    font-family: "Open Sans Semibold";
    font-size: 12px;
    line-height: 17px;
    color: #006992;
}
#sfmaincontainer .select-wrap {
    position: relative;
    cursor: pointer;
}
#sfmaincontainer .select-wrap select {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    padding: 16px 40px 15px 16px;
    font-family: "Open Sans Semibold";
    font-size: 12px;
    line-height: 17px;
    color: #006992;
    appearance: button;
    -moz-appearance: button;
    -webkit-appearance: button;
    background: transparent;
}
#sfmaincontainer .select-wrap:before {
    content: '\2335';
    position: absolute;
    top: 14px;
    right: 16px;
    color: rgba(0, 105, 146, .75);
    font-weight: bold;
}

#sfmaincontainer label {
    display: block;
    margin-bottom: 13px;
    font-family: "Open Sans Semibold";
    font-size: 12px;
    line-height: 17px;
    text-transform: uppercase;
    white-space: normal;
    color: #27476E;
}
/*#sfmaincontainer label + input {
    margin-top: 13px !important;
}*/
#sfmaincontainer input[type=radio] + label,
#sfmaincontainer input[type=checkbox] + label {
    margin-left: 40px;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 19px;
    text-transform: none;
}

.sfacontrol:hover {
    color: #D54E21;
}

.subhead, .sublabel {
    margin: 10px 0 0 0;
    font-size: 12px;
    line-height: 17px;
    color: #85A2BC;
}

.subhead {

}

.sublabel {
    display: block;
}

#sfmaincontainer .button,
#sfmaincontainer .button-primary,
#sfmaincontainer .button-secondary {
    width: auto;
    height: 40px;
    padding: 12px 21px 11px 20px;
    line-height: 17px;
    background: #006992;
    box-shadow: 0 3px 6px rgba(0, 105, 146, .1);
    border: none;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-family: "Open Sans Semibold";
    font-size: 12px;
    color: #FFF;
    text-shadow: none;
    text-align: center;
    outline: none;
}
#sfmaincontainer .button[disabled],
#sfmaincontainer .button-primary[disabled],
#sfmaincontainer .button-secondary[disabled] {
    background-color: #00B9D0 !important;
    box-shadow: 0 5px 10px rgba(0, 185, 208, .1) !important;
    color: #FFF !important;
    opacity: .5;
}
#sfmaincontainer .button.focus
#sfmaincontainer .button.hover,
#sfmaincontainer .button:focus,
#sfmaincontainer .button:hover {
    background: rgba(0, 105, 146, .9);
    box-shadow: 0 3px 6px rgba(0, 105, 146, .1);
    border-color: inherit;
    color: #FFF;
}
#sfmaincontainer .button.active,
#sfmaincontainer .button.active:focus,
#sfmaincontainer .button.active:hover,
#sfmaincontainer .button:active {
    background: rgba(0, 105, 146, .8);
    box-shadow: 0 3px 6px rgba(0, 105, 146, .1);
    border-color: inherit;
    color: #FFF;
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
}
#sfmaincontainer .button-primary {
    height: 50px;
    padding: 16px 34px 15px 35px;
    line-height: 19px;
    font-size: 14px;
    background: #00B9D0;
    box-shadow: 0 3px 6px rgba(0, 185, 208, .1);
    color: #FFF;
}
#sfmaincontainer .button-primary.focus,
#sfmaincontainer .button-primary.hover,
#sfmaincontainer .button-primary:focus,
#sfmaincontainer .button-primary:hover {
    background: rgba(0, 185, 208, .9);
    box-shadow: 0 3px 6px rgba(0, 185, 208, .1);
    border-color: inherit;
    color: #FFF;
}
#sfmaincontainer .button-primary.active,
#sfmaincontainer .button-primary.active:focus,
#sfmaincontainer .button-primary.active:hover,
#sfmaincontainer .button-primary:active {
    background: rgba(0, 185, 208, .8);
    box-shadow: 0 3px 6px rgba(0, 185, 208, .1);
    border-color: inherit;
    color: #FFF;
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
}
#sfmaincontainer .button-secondary {
    height: 50px;
    padding: 16px 34px 15px 35px;
    line-height: 19px;
    font-size: 14px;
    background: #00B9D0;
    box-shadow: 0 3px 6px rgba(0, 185, 208, .1);
    color: #FFF;
}
#sfmaincontainer .button-secondary.focus,
#sfmaincontainer .button-secondary.hover,
#sfmaincontainer .button-secondary:focus,
#sfmaincontainer .button-secondary:hover {
    background: rgba(0, 185, 208, .9);
    box-shadow: 0 3px 6px rgba(0, 185, 208, .1);
    border-color: inherit;
    color: #FFF;
}
#sfmaincontainer .button-secondary.active,
#sfmaincontainer .button-secondary.active:focus,
#sfmaincontainer .button-secondary.active:hover,
#sfmaincontainer .button-secondary:active {
    background: rgba(0, 185, 208, .8);
    box-shadow: 0 3px 6px rgba(0, 185, 208, .1);
    border-color: inherit;
    color: #FFF;
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
}

.spStackBtn, .spStackBtnLong {
    width: auto;
    white-space: normal !important;
}

.spStackBtn {
    max-width: 97px;
}

.spStackBtnLong {
    max-width: 150px;
}

.BGhighLight {
    border-bottom: 4px solid #FFFFFF;
}

.spWFBorder {
    border-bottom: 2px solid #DDDDDD;
}

td.badLocation {
    background-color: #ffebe8 !important;
}

/* Update WP footer margin since we add text at bottom */
#footer {
    margin-top: -60px !important;
}

/* SOME BASE CLASSES ===============================================================================*/

a {
    text-decoration: none !important;
    border-bottom: none;
}

a:focus,
a:hover,
a:link,
a:active {
    outline-style: none;
    box-shadow: none;
    cursor: pointer;
}

.inline_edit {
    display: none;
    padding: 35px;
}

.sfinline-form {
    background-color: #E9EDF6;
    border: none !important;
}

.clearboth {
    clear: both;
    height: 1px;
    overflow: hidden;
}

.clearleft {
    clear: left;
    height: 10px;
}

.sfhidden {
    display: none;
}

.sfalignright {
    float: right;
}

.sfalignleft {
    float: left;
}

.spDeleteRow {
    cursor: pointer;
}

/* ADMIN OUTER CONTAINER ===========================================================================*/

.wrap.sfatag {
    display: block;
    padding: 15px 15px 0 5px;
    margin: 0;
}

.wrap h2 {
    line-height: 1em;
}

/* handle wp error display in forum ajax content */
.updated,
.error {
    clear: none;
    margin-left: 10px
}

.updated p,
.error p {
    font-size: 14px;
    font-weight: 600;
}

.spWait {
    float: left;
    margin: 5px 12px 5px 0;
}

/* TOOLBAR BUTTIONS ================================================================================*/

.sfamenutable {
    float: left;
    border: 0;
}

/* MAIN SPF SURROUNDING TABLE CONTAINER ============================================================*/

@media screen and (max-width: 4000px) {
    .innershell, .theme-browser .spTheme {
        width: 30%;
        float: left;
        padding: 10px 10px 0 0;
    }
}

@media screen and (max-width: 1400px)  and (min-width: 899px) {
    .innershell, .theme-browser .spTheme {
        width: 45%;
    }
}

@media screen and (max-width: 900px)  and (min-width: 799px) {
    .innershell, .theme-browser .spTheme {
        width: 98%;
    }
}

@media screen and (max-width: 800px)  and (min-width: 0) {
    .sfamenutable {
        display: none;
    }

    /* table elements to hide when mobile */
    .logRelease,
    .logBy,
    .logDetail,
    .checkIcon {
        display: none;
    }

    .innershell, .theme-browser .spTheme {
        width: 98%;
    }
}

#sfmaincontainer {
    margin:0 0 0 300px;
    padding: 0;
}

#sfmaincontainer h3 {
    padding-left: 0;
}
#sfmaincontainer .sf-panel-head {
    float: left;
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0 0 30px 0;
    border: none;
    background: transparent;
    box-shadow: none;
}
#sfmaincontainer .sf-panel-head h3 {
    float: left;
    margin: 9px 0;
    font-size: 24px;
    line-height: 36px;
    font-weight: normal;
    color: #27476E;
}

#sfmaincontainer .item-edit {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    box-shadow: none !important;
    border: none !important;
    color: transparent !important;
    background: transparent !important;
}
#sfmaincontainer .sf-panel-body .sp-icon.help {
    background-color: #0E7198;
}
#sfmaincontainer .sfform-submit-bar {
    padding: 0;
    /*padding: 0 30px 30px;*/
    width: 100%;
    float: left;
}
#sfmaincontainer .sfform-submit-bar:before {
    content: "";
    clear: both;
}

#sfmaincontainer .sp-full-form {
    width: 100%;
}
#sfmaincontainer .sp-full-form div.sfhelplink {
    float: right;
    margin: 30px 20px 15px 0 !important;
}
#sfmaincontainer .sp-half-form {
    float: left;
    width: 50%;
    padding: 0;
    /*padding: 30px 30px 0 30px;*/
    background-color: #F9F9F9;
}
#sfmaincontainer .sf-panel-body .sp-half-form+.sp-half-form {
    padding-left: 30px;
}

@media screen and (max-width: 640px) {
    #sfmaincontainer .sp-half-form {
        width: 100%;
    }
    #sfmaincontainer .sf-panel-body .sp-half-form+.sp-half-form {
        padding-left: 0;
    }
}
#sfmaincontainer .sp-half-form fieldset {
    position: relative;
    margin-bottom: 30px;
    background-color: #FFF;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
#sfmaincontainer .sp-half-form fieldset div.sfhelplink {
    top: 0;
    right: 0;
    position: absolute;
}
#sfmaincontainer .sp-half-form fieldset div.sfhelplink a {
    margin: 20px;
}
#sfmaincontainer .sp-half-form fieldset .sp-form-row {
    /*float: left;
    width: 100%;*/
    padding: 0 20px;
    margin: 20px 0 30px 0;
}

#sfmaincontainer fieldset legend {
    margin: 0;
    padding: 20px;
    background-color: #EAF0F4;
    width: 100%;
    line-height: 20px;
    /*height: 60px;*/
    -khtml-border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
    font-family: "Open Sans Semibold";
    font-size: 14px;
    color: #27476E;
}
#sfmaincontainer fieldset legend strong {
    display: inline-block;
    width: calc(100% - 60px);
}
#sfmaincontainer .sp-full-form  fieldset legend {
    display: none;
}

#sfmaincontainer fieldset .subsubsub {
    height: 80px;
    line-height: 80px;
    margin: 0 0 0 30px;
    font-size: 14px;
}
#sfmaincontainer fieldset .subsubsub a {
    color: #9D9EA0;
}
#sfmaincontainer fieldset .subsubsub a.current {
    color: #257EA1;
}
#sfmaincontainer fieldset .subsubsub a .count,
#sfmaincontainer fieldset .subsubsub a.current .count {
    font-weight: inherit;
    color: inherit;
}

#sfmaincontainer fieldset .tablenav {
    display: none;
}
#sfmaincontainer fieldset .search-box #search_id-search-input {
    height: 40px;
    width: 200px;
    margin: 20px;
    padding: 12px 20px 11px 20px;
    border: 1px solid #F0F0F0 !important;
    -khtml-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    outline: none;
    box-shadow: none;
}
#sfmaincontainer fieldset .search-box #search-submit {
    display: none;
}
#sfmaincontainer table.widefat:before {
    content: "";
    height: 1px;
    position: absolute;
    box-shadow: 0 1px 0 #F0F0F0;
    left: 0;
    top: 0;
    width: 100%;
}
#sfmaincontainer table.widefat {
    position: relative;
    /*padding: 30px;*/
    border: none;
    background: transparent;
    box-shadow: none;
    clear: none;
}
#sfmaincontainer table.widefat thead tr {
    background-color: #EAF0F4;
}
#sfmaincontainer table.widefat thead tr td,
#sfmaincontainer table.widefat thead tr th {
    border: none;
    padding-top: 22px;
    padding-bottom: 21px;
}
#sfmaincontainer table.widefat thead tr td a,
#sfmaincontainer table.widefat thead tr th a {
    padding: 0;
}
#sfmaincontainer table.widefat thead tr td,
#sfmaincontainer table.widefat thead tr th,
#sfmaincontainer table.widefat thead tr td a,
#sfmaincontainer table.widefat thead tr th a {
    font-family: "Open Sans Semibold";
    font-size: 12px;
    line-height: 18px;
    color: #27476E;
    text-transform: uppercase;
}
#sfmaincontainer table.widefat thead tr td:first-child,
#sfmaincontainer table.widefat thead tr th:first-child {
    -khtml-border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    border-radius: 4px 0 0 0;
}
#sfmaincontainer table.widefat thead tr td:last-child,
#sfmaincontainer table.widefat thead tr th:last-child {
    -khtml-border-radius: 0 4px 0 0;
    -webkit-border-radius: 0 4px 0 0;
    border-radius: 0 4px 0 0;
}

#sfmaincontainer table.widefat tbody tr td,
#sfmaincontainer table.widefat tbody tr th {
    background-color: #FFF;
    border-bottom: 1px solid #F0F0F0;
    padding-top: 31px;
    padding-bottom: 30px;
}
#sfmaincontainer table.widefat tfoot {
    display: none;
}

#sfmaincontainer table,
#sfmaincontainer tbody,
#sfmaincontainer tfoot,
#sfmaincontainer thead,
#sfmaincontainer tr,
#sfmaincontainer th,
#sfmaincontainer td {
    vertical-align: top
}

.message {
    background-color: #fffbcc;
    border: 1px solid #e6db55;
    padding: 0 0.6em;
    margin: 5px 15px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

/* MAIN SPF FORM PANEL =============================================================================*/

.sfform-panel-spacer {
    /*min-height: 15px;*/
}

.spWarningBG {
    background-color: #F5ABAB !important;
}

/* FORM TABLE (WP) - MAIN FORM TABLE ===============================================================*/

.form-table {
    border-collapse: collapse;
    margin-top: .1em;
    margin-bottom: .1em;
    width: 100%;
}

.form-table th {
    font-weight: 600;
    font-size: 11px;
    text-align: left;
    padding: 5px 10px 5px 10px;
    text-shadow: none;
    width: auto;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-color: #cccccc;
}

.form-table td {
    margin: 0 0 0 0;
    padding: 3px 5px;
    border: 1px solid #ddd !important;
    line-height: 15px;
    min-height: 25px;
    vertical-align: middle;
}

.form-table td.sflabel,
.form-table td p {
    padding: 1px 6px;
    background: transparent;
    font-size: 13px;
    min-height: 25px;
    text-shadow: none;
    line-height: 1.2em;
    vertical-align: middle !important;
}

td.sferror {
    margin: 0 !important;
    padding: 5px 6px;
    font-size: 14px;
    height: auto !important;
    text-shadow: none;
    line-height: 1.2em;
    vertical-align: middle !important;
}

.spaErrError {
    background: #FFE4E1;
    border-bottom: 5px solid #FFFFFF;
}

.spaErrWarning {
    background: #FFE4B5;
    border-bottom: 5px solid #FFFFFF;
}

.spaErrNotice {
    background: #B0E0E6;
    border-bottom: 5px solid #FFFFFF;
}

.spaErrStrict {
    background: #DCDCDC;
    border-bottom: 5px solid #FFFFFF;
}

.spaSecNotice {
    background: #F7E5FF;
    border-bottom: 5px solid #FFFFFF;
}

.sfhelptext td.spaErrCell {
    width: 20%;
    text-align: center;
}

.sfhelptext td.spaErrCellDesc {
    width: 20%;
    padding: 5px 5px 5px 0;
    font-size: 11px;
}

.form-table td.highlight {
    background-color: #FFB8B8;
}

.form-table .table-cbox {
    border: none;
    min-height: 25px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    width: 100%;
}

.form-table td.td-cbox {
    min-height: 25px;
    border: none !important;
    margin: 0 0 0 0;
    padding: 3px 5px 3px 0;
    font-size: 13px;
    vertical-align: middle !important;
}

.form-table td.longmessage {
    height: 88px !important;
    font-weight: 600;
}

/* TABLE - SFMAIN and SFSUB ========================================================================*/

.sfmaintable, .sfsubtable {
    border-collapse: collapse;
    width: 100%;
}

.sfmaintable {
    margin-bottom: 8px;
}

.sfmaintable th, .sfsubtable th {
    font-weight: 600;
    font-size: 11px;
    padding: 5px 3px;
}

.sfmaintable tr, .sfsubtable tr {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    margin: 0;
}

.sfmaintable td, .sfsubtable td {
    vertical-align: middle !important;
    font-size: 12px;
    padding: 2px 5px;
}

.sfugrouptable tr, .sfugrouptable td {
    vertical-align: top !important;
}

.sfmaintable td p, .sfsubtable td p {
    line-height: 1em;
    margin: 0 0 4px 0;
    padding: 0;
}

#current-theme p.theme-parent,
#availablethemes p.theme-parent {
    margin-top: -20px;
    padding-bottom: 10px;
}

.theme-browser .spThemeContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.theme-browser .spTheme {
    margin: 15px;
    float: left;
    cursor: pointer;
    position: relative;
    border: 1px solid #999999;
    box-sizing: border-box;
    padding: 10px 15px;
    background: white;
    text-align: center;
}

.spTheme select {
    margin-top: -5px;
}

.theme-browser .spTheme img {
    max-width: 100%;
}

/* MAIN SPF FORM PANEL BUTTONS =====================================================================*/

p.sf-upload-status-success {
    margin: 5px !important;
    padding: 5px !important;
    background: #008000 !important;
    font-weight: 600;
    color: #ffffff !important;
    height: auto !important;
}

p.sf-upload-status-fail {
    margin: 5px !important;
    padding: 5px !important;
    background: #800000 !important;
    font-weight: 600;
    color: #ffffff !important;
    height: auto !important;
}

/* SUCCESS MESSAGE SPOT ============================================================================*/

#sfmsgspot {
    display: none;
    position: fixed;
    top: 0;
    z-index: 1000000;
    font-size: 90%;
    font-weight: 600;
    color: #000000;
    border: 2px solid gray;
    background-color: #f9fad3;
    margin: 0 20px 0 180px !important;
    padding: 20px;
    width: auto;
    -khtml-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
}

#onFinish {
    display: none;
    font-weight: 600;
    cursor: default;
}

/*.radio {
    padding: 4px 0;
}*/

.sfempty {
    border: 1px solid #DDDDDD;
    padding: 5px;
    background-color: #FFFFAA;
    margin-bottom: 18px;
}

#sfeditwindow {
    margin-right: 200px;
}

#spnewcontent {
    width: 100%;
}

#sfeditside {
    clear: both;
    float: right;
    width: 190px;
    word-wrap: break-word;
    margin-top: 20px;
}

#sfeditside li {
    margin: 4px 0 4px 2px;
}

#sfeditside .highlight {
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    font-weight: 600;
    padding: 4px 10px;
    margin-left: -10px;
}

@media screen and (max-width: 800px) {
    #sfeditside {
        float: none;
    }

    #sfeditwindow {
        margin-right: 0;
    }

    #sfeditwindow textarea {
        width: 100%;
    }
}

#spAbout {
    text-align: center;
}

/* UI Dialog
----------------------------------*/
.ui-dialog {
    z-index: 999999;
    position: absolute;
    padding: .2em;
    width: 300px;
    background-color: #ffffff;
    border: 1px solid #888888;
}

.ui-dialog .ui-dialog-titlebar {
    padding: .2em 1em .2em;
    position: relative;
    height: 22px;
}

.ui-dialog .ui-dialog-title {
    float: left;
    margin: .1em 16px .2em 0;
}

.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 22px;
    margin: -10px 0 0 0;
    padding: 0;
    height: 22px;
    background-image: url(images/close.gif);
}

.ui-dialog .ui-dialog-titlebar-close span {
    display: block;
    margin: 1px;
}

.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus {
    padding: 0;
}

.ui-dialog .ui-dialog-content, .ui-dialog .ui-dialog-content p {
    border: 0;
    padding: .5em .5em;
    background: none;
    overflow: auto;
    zoom: 1;
}

.ui-dialog .ui-dialog-buttonpane {
    text-align: left;
    border-width: 1px 0 0 0;
    background-image: none;
    margin: .5em 0 0 0;
    padding: .3em 1em .5em .4em;
}

.ui-dialog .ui-dialog-buttonpane button {
    float: right;
    margin: .5em .4em .5em 0;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    line-height: 1.4em;
    width: auto;
    overflow: visible;
}

.ui-dialog .ui-resizable-se {
    width: 11px;
    height: 11px;
    right: 3px !important;
    bottom: 3px;
    float: right;
    background-image: url(images/resize.gif);
}

.ui-draggable .ui-dialog-titlebar {
    cursor: move;
}

.ui-widget-header {
    background-color: #DDDDDD;
    color: #1C6280;
}

/* FORM USER GROUP / RANKS - MEMBER LIST ===================================================================*/

ul.memberlist {
    width: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.memberlist li {
    width: 100px;
    margin: 0;
    padding: 0;
    float: left;
    font-size: 10px;
}

/* SORTABLE STYLES ==============================================================*/

#groupList,
#tabsList,
#menuList,
#sfavataroptions {
    padding: 1em 0;
    width: auto;
}

#tabsList .menu li,
#menuList .menu li,
#sfavataroptions.menu li {
    margin-bottom: 10px;
    position: relative;
}

#groupList li {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0;
    width: auto;
    position: relative;
}

#groupList li ul.menu {
    padding-top: 0;
}

#groupList li.menu-item-depth-0 {
    margin-top: 20px;
}

.menu ul.menu {
    padding-top: 20px;
}

#sfmaincontainer .menu-item {
    max-width: 340px;
    height: 50px;
    margin: 0;
    padding: /*17px*/0 16px;
    line-height: 50px;

    position: relative;
    cursor: move;
    border: 1px solid #EAF0F4;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-weight: 600;
    overflow: visible;

    position: relative;

    word-wrap: break-word;
    background: #FFF;
    color: #174F69;
    clear: both;
}

#groupList .menu-item {
    width: 400px;
    white-space: nowrap;
}

@media screen and (max-width: 650px) {
    #groupList .menu-item {
        width: 350px;
    }
}

@media screen and (max-width: 570px) {
    #groupList .menu-item {
        width: 300px;
    }
}

@media screen and (max-width: 500px) {
    #groupList .menu-item {
        width: 250px;
    }
}

@media screen and (max-width: 460px) {
    #groupList .menu-item {
        width: 200px;
    }
}

@media screen and (max-width: 400px) {
    #groupList .menu-item {
        width: 160px;
    }
}

.group-list.menu-item {
    background: #333333;
    color: #dddddd;
}

.forum-list.menu-item {
    background: #ffffff;
}

.menu-item-disabled {
    background: #e9cfdf;
}

.menu-item.menu-item-depth-0 {
    width: auto;
    margin: auto;
    padding-left: 10px;
}

.placeholder {
    outline: 1px dashed #333333;
    left: 20px;
}

#sfmaincontainer .item-controls img {
    margin-right: 7px;
}

#sfmaincontainer .item-type {
    /*color: #999999;
    font-size: 10px;
    padding: 8px !important;
    text-transform: uppercase;*/
}
#sfmaincontainer .item-edit {
    width: 16px;
    height: 16px;
    overflow: hidden;
}
#sfmaincontainer .item-edit:before {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    margin-top: 5px;
    background: url(../icons/Expand.svg) no-repeat center;
}
/*.item-edit {
    background: url("images/updown.gif") no-repeat scroll 4px 8px transparent;
    border-bottom: 1px solid #EEEEEE;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    display: block;
    height: 36px;
    overflow: hidden;
    position: absolute;
    right: -20px;
    text-indent: -999em;
    top: 0;
    width: 23px;
    cursor: pointer;
}*/

.menu .sortable-placeholder {
    /*height: 35px;
    margin-top: 13px;
    margin-left: 30px;
    width: 500px !important;*/
}

#sfmaincontainer .menu-item-settings {
    background-color: #FFF;
    border: 1px solid #EAF0F4;
    border-top: none;
    -khtml-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    padding: 18px 20px 22px;
    margin: 0 0 15px;
    width: 340px;
}

/* POPUP HELP================================================================================*/

.sfhelptext {
    margin: 0;
    padding: 0;
    width: auto;
}

.sfhelptext fieldset {
    margin: 0 8px;
    padding: 0 15px 10px 15px;
    border: 1px solid #dddddd;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.sfhelptext p {
    font-size: 13px;
    line-height: 1.1em;
    padding: 0 0 6px 0;
}

.sfhelptext ul, .sfhelptext ol {
    font-size: 13px;
    padding: 0;
    margin: 3px 0 0 25px;
}

.sfhelptext ul {
    list-style-type: disc;
}

.sfhelptext ol {
    list-style-type: decimal;
}

.sfhelptext ul li, .sfhelptext ol li {
    font-size: 13px;
    padding: 0;
    margin: 0;
}

.sfhelptext table {
    border-collapse: separate;
    border-spacing: 0;
}

.sfhelptext table tr {
    font-size: 9px;
}

.sfhelptext table td {
    border: 1px solid #999999;
    margin: 0;
    background: #FFFFEA;
}

.sfhelptext td {
    font-size: 12px;
    padding: 5px;
}

.sfhelptext .sfhelptextlogo {
    margin: 10px auto 0 auto;
    text-align: center;
}

.sfhelptext .sfhelptag {
    margin: 0 8px 4px 8px;
    padding: 5px 15px 5px 15px;
    border: 1px solid #dddddd;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.sfhelptext .sfhelptag p {
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.spItemStat {
    font-size: 12px;
    color: #777777;
}

/* plugin help/tips */
.tipSection {
    margin: 7px;
    padding: 0 12px;
    border: 1px solid #cccccc;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: #f7fcfe;
}

.tipSection p {
    padding: 0 !important;
    margin: 0 0 6px 10px !important;
    line-height: 1.2em !important;
}

.tipSection h3 {
    margin: 8px 0;
}

.tipSection ul {
    list-style-position: inside;
    list-style-type: square;
    margin: 0 0 6px 20px;
}

.tipSection ul li {
    margin-bottom: 3px;
}

.tipTable {
    background-color: #f7fcfe;
}

/* INSTALL & UPGRADE ===============================================================================*/
/**
* Installation >
*/
#sfmaincontainer.sf-installation {
    margin: 30px 0 0 0;
}
#sfmaincontainer.sf-installation .sf-panel-head .help.button {
    float: right;
    margin: 5px 0;
    font-family: "Open Sans";
}
#sfmaincontainer.sf-installation .ui-progressbar {
    margin-bottom: 22px;
}
#sfmaincontainer.sf-installation .sf-panel-row {
    padding: 0;
    margin: 0 0 35px 0;
}
#sfmaincontainer.sf-installation .ui-progressbar,
#sfmaincontainer.sf-installation .ui-progressbar .ui-progressbar-value {
    height: 8px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #F0F0F0;
}
#sfmaincontainer.sf-installation .ui-progressbar .ui-progressbar-value {
    background-color: #85A2BC;
}
#sfmaincontainer.sf-installation .zmessage {
    padding: 10px 0;
    font-size: 14px;
    color: #9D9EA0;
}
#sfmaincontainer.sf-installation .zmessage.processing {
    font-family: "Open Sans Semibold";
    color: #006992;
}
#sfmaincontainer.sf-installation .zmessage.ready {
    color: #27476E;
}
#sfmaincontainer.sf-installation .zmessage .sp-icon {
    margin-right: 10px;
}
/**
* < Installation
*/

/* TOOLTIPS =========================================================================================*/

.ttip {
    color: #000000;
    font-size: 13px;
    line-height: 1.2em;
    background: #FFFFDF;
    padding: 8px;
    position: absolute;
    max-width: 300px;
    z-index: 999999
}

body .ttip {
    border: 1px solid #a6c9e2;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* user panel profile popup =========================================================================================*/

.spClear {
    clear: both;
}

.spLeft {
    float: left;
}

.spRight {
    float: right;
}

.spCenter {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.spProfileShowSection p {
    padding: 0;
    margin: 0;
    line-height: 1.2em;
}

.spProfileShowSection,
.spProfileShowHeaderSection {
    color: inherit;
    background: transparent;
    border: inherit;
    padding: 5px;
    width: auto;
}

.spProfileShowHeaderSection {
    margin: 10px 5px;
}

.spProfileShowSignatureSection,
.spProfileShowBasicSection,
.spProfileShowDetailsSection,
.spProfileShowPhotosSection,
.spProfileShowLinkSection {
    background: #F0F4F7;
    border: 1px solid #BBBBBB;
    color: #777777;
    padding: 10px;
    margin: 10px 5px 20px;
    width: auto;
    -khtml-border-radius: 9px;
    -webkit-gradientborder-radius: 9px;
    border-radius: 9px;
}

.spProfileShowAvatarSection,
.spProfileShowInfoSection,
.spProfileShowIdentitiesSection,
.spProfileShowStatsSection {
    color: inherit;
    background: transparent;
    border: none;
    margin: 10px 5px;
    width: auto;
}

.spProfileShowHeader {
    font-size: 1.4em;
}

.spProfileShowHeaderEdit {
    font-size: 0.6em;
    vertical-align: middle;
}

img.spOnlineStatus {
    padding-left: 5px;
    vertical-align: middle;
}

.spProfileShowSection hr {
    background: #F0F4F7;
    border: 1px solid #BBBBBB;
    color: #777777;
    height: 2px;
}

.spProfileSpacerCol {
    float: left;
    text-align: left;
    width: 5%;
}

.spProfileRightCol {
    float: left;
    text-align: left;
    width: 60%;
}

.spProfileLeftCol {
    clear: both;
    float: left;
    text-align: right;
    width: 35%;
}

.spProfileRightHalf {
    float: left;
    text-align: left;
    width: 47%;
}

.spProfileLeftHalf {
    float: left;
    text-align: left;
    width: 47%;
}

/**
* #sfsidepanel
*/
#sfsidepanel {
    float: left;
    width: 260px;
    margin: 0;
    padding: 0;
    outline: none;
}
#sfsidepanel .sf-tooggle-admin-menu {
    display: none;
}
/**
* #sfadminmenu >
*/
#sfadminmenu [class^="spaicon-"],
#sfadminmenu [class*=" spaicon-"] {
    margin: 15px 14px 0 20px;
    background-color: #006992;
}
#sfadminmenu .sfsidebutton,
#sfadminmenu .sfsidebutton a {
    position: relative; 
    text-align: left;
    line-height: 50px;
    outline: none;
    cursor: pointer;
}
#sfadminmenu .sfsidebutton {
    height: 50px;
    border-bottom: 1px solid #F1F1F1;
    background-color: #F9F9F9;
}
#sfadminmenu .sfsidebutton.ui-accordion-header-active {
    background-color: #FFF;
}
#sfadminmenu .sfsidebutton.ui-state-default a:hover {
    color: #d54e21 !important;
}
#sfadminmenu .sfsidebutton:after {
    content: '\2335';
    position: absolute;
    top: -2px;
    right: 20px;
    color: #DADADC;
    font-weight: bold;
}
#sfadminmenu .sfsidebutton.ui-state-active:after {
    transform: rotate(180deg);
    top: 3px;
    color: #006992;
}
#sfadminmenu .sfsidebutton a {
    display: inline-block;
    font-family: "Open Sans Semibold";
    font-size: 14px;
    color: #006992;
}
#sfadminmenu .sfsidebutton .ui-icon {
    position: absolute;
    left: .5em;
    top: 50%;
    margin-top: -8px;
}
#sfadminmenu .sfmenublock {
    display: none;
    background: #FFF;
    padding: 10px 0;
}
#sfadminmenu .sfmenublock.ui-accordion-content-active {
    display: block;
}
#sfadminmenu .sfmenublock a {
    text-align: left;
    color: #27476E;
    font-size: 13px;
    font-family: "Open Sans";
}
#sfadminmenu .sfmenublock .sfsideitem {
    position: relative;
}
#sfadminmenu .sfmenublock .sfsideitem a,
#sfadminmenu .sfmenublock.ui-accordion-content-active .sfsideitem a {
    display: block;
    padding: 7px 20px;
    margin: 0;
}
#sfadminmenu .sfmenublock .sfsideitem.active a {
    font-family: "Open Sans Semibold";
}
#sfadminmenu .sfmenublock .sfsideitem a:focus {
    color: #27476E;
}
#sfadminmenu .sfmenublock .sfsideitem a:hover {
    background-color: #F9F9F9;
}
#sfadminmenu .sfmenublock .sfsideitem.active a:before,
#sfadminmenu .sfmenublock .sfsideitem a:hover:before {
    content: "";
    position: absolute;
    left: 0;
    width: 3px;
    height: 20px;
    background-color: #00B9D0;
}
/**
* < #sfadminmenu
*/
table td.permentry {
    vertical-align: top !important;
    padding: 5px !important;
    border-bottom: 1px solid #cccccc !important;
    line-height: 1em !important;
}

.permwarning {
    background: #F78F8F !important;
    border: 1px solid red !important;
}

table td.permhead {
    vertical-align: middle !important;
    padding: 8px 5px !important;
    border: 1px solid #555555 !important;
    line-height: 1em !important;
    font-weight: 600 !important;
    font-size: 13px !important;
    background-color: #FFFFFF !important;
}

/* Troubleshooting Help Page
----------------------------------*/

#sfmaincontainer .helpAndFAQ fieldset {
    background: #FFFFFF;
}

.box-head {
    width: 100%;
    height: 48px;
    border: 1px solid red;
}

.codex img {
    float: left;
    margin: 0 5px 10px 0;
}

.codex-link {
    background: url(images/help.png) no-repeat 0 4px;
    height: 20px;
    width: 24px;
    float: left;
}

.codex a {
    font-weight: 600;
    font-size: 15px;
}

.codex div.codex-head,
.codex div.codex-sub {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 0 0;
    padding: 5px;
    line-height: 1em;
    vertical-align: middle !important;
    position: relative;
}

.codex p.codex-sub {
    font-size: 15px;
    color: #8B1A1A;
}

.codex p {
    margin: 0 0 8px 0;
    padding: 0;
}

.key-word-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: square;
    font-size: 14px;
    font-weight: 600;
    width: 31%;
    height: 870px;
    margin-left: 10px;
}

.key-word {
    cursor: pointer;
    padding: 2px 15px 2px 0 !important;
}

.key-word:hover {
    color: #D54E21;
}

.task-link {
    background: url(images/go.png) no-repeat 0 4px;
    height: 20px;
    width: 24px;
    float: left;
}

/* ============================= */
/* Experimental Responsive Stuff */
/* ============================= */

.sfform-panel-nohead {
    -khtml-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.sp-full-row {
    width: 100%;
}

.sp-half-row-left {
    width: 55%;
    display: inline-block;
}

.sp-half-row-right {
    width: 43%;
    display: inline-block;
}

.button-jump-left {
    float: right;
}

#sf-upload-button {
    margin-bottom: 10px;
}

@media screen and (max-width: 1200px) {
    .sp-half-row-left {
        width: 100%;
    }

    .sp-half-row-right {
        width: 100%;
        float: left;
    }

    .button-jump-left {
        float: left;
    }
}

.spLinkHighlight {
    border: 1px solid #555;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 0 6px;
    margin-left: -7px;
    background-color: #FFFFCC;
}

/*.sp-label,
.sp-label-40,
.sp-label-50,
.sp-label-60,
.sp-label-66 {
    float: left;
}

.sp-label-40 {
    width: 40%;
}

.sp-label-50 {
    width: 50%;
}

.sp-label-60 {
    width: 60%;
}

.sp-label-66 {
    width: 66%;
}

.sp-input-40,
.sp-input-60 {
    float: right;
}

.sp-input-40 {
    width: 35%;
}

.sp-input-60 {
    width: 55%;
}

.sp-textarea,
.sp-textarea-50,
.sp-textarea-33 {
    float: right;
}

.sp-textarea {
    width: 100%;
}

.sp-textarea-50 {
    width: 47%;
}

.sp-textarea-33 {
    width: 31%;
}

.sp-radio {
    width: 95%;
    margin: 0;
    padding: 0;
    float: right;
}*/

.subArrow {
    padding: 0;
    margin: 0 4px 0 0;
    float: left;
}

.parentArrow {
    padding: 0;
    margin: 0;
}

.sffieldset .floatList li {
    float: left;
    width: 23%;
    margin-bottom: 5px;
}


@media screen and (max-width: 1300px) {
    .sffieldset .floatList li {
        width: 30%;
    }
}

@media screen and (max-width: 1100px) {
    .sffieldset .floatList li {
        width: 45%;
    }
}

@media screen and (max-width: 550px) {
    .sffieldset .floatList li {
        width: 95%;
    }
}

.floatListLabel {
    margin-left: 32px;
}

.sffieldset hr {
    border: 1px solid #aaaaaa;
}

#wpbody .msAddControl {
    width: 140px;
    font-size: 12px;
    height: auto;
}

/* list table stuff */

#wpbody #sfmaincontainer .tablenav span.displaying-num {
    vertical-align: middle !important;
}

#wpbody #sfmaincontainer .tablenav span.total-pages {
    vertical-align: text-bottom !important;
}

/* mobile table stuff */

#wpbody table.wp-list-table.spMobileTable800 td,
#wpbody table.wp-list-table.spMobileTable800 td.spCenter,
#wpbody table.wp-list-table.spMobileTable1280 td,
#wpbody table.wp-list-table.spMobileTable1280 td.spCenter {
    text-align: left;
}

#wpbody table.spMobileTable800 td,
#wpbody table.spMobileTable800 td.spCenter,
#wpbody table.spMobileTable1280 td,
#wpbody table.spMobileTable1280 td.spCenter {
    text-align: center;
}

#wpbody table.spMobileTable800 td.spLeft,
#wpbody table.spMobileTable1280 td.spLeft {
    text-align: left;
}

@media screen and (max-width: 799px) {
    #wpbody table.spMobileTable800 table,
    #wpbody table.spMobileTable800 thead,
    #wpbody table.spMobileTable800 tbody,
    #wpbody table.spMobileTable800 th,
    #wpbody table.spMobileTable800 td,
    #wpbody table.spMobileTable800 tr {
        display: block;
    }

    #wpbody table.spMobileTable800 thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #wpbody table.spMobileTable800 tr {
        border: 1px solid #ccc;
    }

    #wpbody table.spMobileTable800 tr.spInlineSection {
        display: none;
    }

    #wpbody table.spMobileTable800 tr.spMobileTableData td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    #wpbody table.spMobileTable800 tr.spMobileTableData td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 5px;
        left: 5px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
    }

    /* Label the data */
    #wpbody table.spMobileTable800 tr.spMobileTableData td:nth-of-type(1):before {
        content: attr(data-label);
    }

    #wpbody table.spMobileTable800 tr.spMobileTableData td:nth-of-type(2):before {
        content: attr(data-label);
    }

    #wpbody table.spMobileTable800 tr.spMobileTableData td:nth-of-type(3):before {
        content: attr(data-label);
    }

    #wpbody table.spMobileTable800 tr.spMobileTableData td:nth-of-type(4):before {
        content: attr(data-label);
    }

    #wpbody table.spMobileTable800 tr.spMobileTableData td:nth-of-type(5):before {
        content: attr(data-label);
    }

    #wpbody table.spMobileTable800 tr.spMobileTableData td:nth-of-type(6):before {
        content: attr(data-label);
    }

    #wpbody table.spMobileTable800 tr.spMobileTableData td:nth-of-type(7):before {
        content: attr(data-label);
    }

    #wpbody table.spMobileTable800 tr.spMobileTableData td:nth-of-type(8):before {
        content: attr(data-label);
    }

    #wpbody table.spMobileTable800 tr.spMobileTableData td:nth-of-type(9):before {
        content: attr(data-label);
    }

    #wpbody table.spMobileTable800 tr.spMobileTableData td:nth-of-type(10):before {
        content: attr(data-label);
    }
}

@media screen and (max-width: 1279px) {
    #wpbody table.spMobileTable1280 table,
    #wpbody table.spMobileTable1280 thead,
    #wpbody table.spMobileTable1280 tbody,
    #wpbody table.spMobileTable1280 th,
    #wpbody table.spMobileTable1280 td,
    #wpbody table.spMobileTable1280 tr {
        display: block;
    }

    #wpbody table.spMobileTable1280 thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #wpbody table.spMobileTable1280 tr {

    }

    #wpbody table.spMobileTable1280 tr.spInlineSection {
        display: none;
    }

    #wpbody table.spMobileTable1280 tr.spMobileTableData td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    #wpbody table.spMobileTable1280 tr.spMobileTableData td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 5px;
        left: 5px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
    }

    /* Label the data */
    #wpbody table.spMobileTable1280 tr.spMobileTableData td:nth-of-type(1):before {
        content: attr(data-label);
    }

    #wpbody table.spMobileTable1280 tr.spMobileTableData td:nth-of-type(2):before {
        content: attr(data-label);
    }

    #wpbody table.spMobileTable1280 tr.spMobileTableData td:nth-of-type(3):before {
        content: attr(data-label);
    }

    #wpbody table.spMobileTable1280 tr.spMobileTableData td:nth-of-type(4):before {
        content: attr(data-label);
    }

    #wpbody table.spMobileTable1280 tr.spMobileTableData td:nth-of-type(5):before {
        content: attr(data-label);
    }

    #wpbody table.spMobileTable1280 tr.spMobileTableData td:nth-of-type(6):before {
        content: attr(data-label);
    }

    #wpbody table.spMobileTable1280 tr.spMobileTableData td:nth-of-type(7):before {
        content: attr(data-label);
    }

    #wpbody table.spMobileTable1280 tr.spMobileTableData td:nth-of-type(8):before {
        content: attr(data-label);
    }

    #wpbody table.spMobileTable1280 tr.spMobileTableData td:nth-of-type(9):before {
        content: attr(data-label);
    }

    #wpbody table.spMobileTable1280 tr.spMobileTableData td:nth-of-type(10):before {
        content: attr(data-label);
    }
}

@media screen and (max-width: 460px) {
    select {
        width: 100%;
    }

    input {
        max-width: 100%;
    }
}

@media screen and ( max-width: 782px ) {
    .wp-list-table:not(.spMobileTable800):not(.spMobileTable1280) th {
        display: table-cell !important;
        padding: 4px !important;
    }

    .wp-list-table:not(.spMobileTable800):not(.spMobileTable1280) tr {
        display: table-row !important;
        padding: 4px !important;
    }

    .wp-list-table:not(.spMobileTable800):not(.spMobileTable1280) td {
        display: table-cell !important;
        padding: 4px !important;
    }
}
/* End experimental responsive stuff */

/*************************************************************************/
/* Style adjustments for new licensing tab introducted in 6.0.7 / 6.1.0 */
/*************************************************************************/
.form-table td.sp_td_left{
    /* 
     * The license scren tables consists of two uneven columns;
     * this section helps to style the left column.
    */
    font-weight: 600;
    font-size: 12px;
    text-align: left;
    padding: 5px 10px 5px 10px;
    border-style: solid;
    border-width: 1px 1px 1px;
    border-color: #ccc;
    width:20%;
    border-bottom: 1px solid #ddd;
    color: #000000;
}

.form-table td.sp_td_licence_info{
    font-weight: 600; 
    line-height: 18px; 
    font-size: 12px;
}

.sp_addons_not_found { 
    margin-left: 0px;
}
.sp_addon_title{ 
    font-size: 17px;
    color: #0073aa;
    font-weight: 600;
    margin-bottom: 10px; 
}

.sp-licensing_note_list{
    margin:10px;
}

.sp-licensing-key-active{color:green;}

.sp-licensing-key-error{color:red;}

.thickbox.open-plugin-details-modal.spPluginUpdate {
    color: #0073aa;
    cursor: pointer;
}


/* End style adjustments for licensing tab */


/*
Style font- icon picker
*/

#spIconsetsList .item-controls {
    position: initial;
}


.icons-selector.fip-bootstrap {
    float: left;
}


/*.icons-selector .selector-popup, .icons-selector.selector-popup-wrap, .icons-selector .selector-popup-wrap {
        right: 0 !important;
}*/

.sp-iconset-icon img {
    max-width: 56px;
    max-height: 36px;
}


.sp-icon-picker-row {
    float:right;
}

.sp-icon-picker-row .wp-picker-container  .wp-color-result-text {
    line-height: 22px;
    padding-right: 6px;
    padding-left: 6px;
}

.sp-icon-picker-row .font-style-container .font-color-container {
    float: left;
    width: 60%;
}

.sp-icon-picker-row .font-style-container .font-size-container {
    float: right;
}


.sp-icon-picker-row .font-size-container .font-style-size {
    margin-right: 6px;
    width: 70px;
    height: 20px;
}


.sp-icon-picker-row .font-size-container select {
    height: 14px;
    line-height: 18px;
    height: 20px;
    margin: 0;
    padding: 0;
    margin-bottom: 4px;
}


.sp-icon-picker-row .wp-picker-container input[type=text].wp-color-picker {
    line-height: 20px;
}


.sp-icon-picker-row .wp-picker-container .wp-color-result.button {
    padding-left: 45px;
}


@media screen and ( max-width: 360px ) {
    .wrap {
        margin: 0;
    }
    /**
    * Installation >
    */
    #sfmaincontainer.sf-installation .sf-panel-head .help.button {
        position: absolute;
        left: 0;
    }
    #sfmaincontainer.sf-installation .sf-panel-head h3 {
        margin: 80px 0 0 0;
    }
    /**
    * < Installation
    */
    #sfmaincontainer .sf-panel-body {
        padding: 20px;
    }
    #sfmaincontainer .button,
    #sfmaincontainer .button-primary,
    #sfmaincontainer .button-secondary {
        height: 50px;
        font-size: 14px;
        line-height: 19px;
        padding-top: 16px;
        padding-bottom: 15px;
        width: 100%;
    }
    #sfmaincontainer .sf-panel-head [class*=button] .sp-icon {
        display: none;
    }
    #sfmaincontainer.sf-installation .sf-panel-row {
        padding: 0;
        margin: 0 0 22px 0;
    }

    .auto-fold #wpcontent {
        padding: 0 30px;
    }
    .wrap.sfatag {
        padding: 0;
    }
    #sfsidepanel {
        width: 100%;
    }
    #sfsidepanel .sf-tooggle-admin-menu {
        display: block;
    }
    #sfsidepanel .sf-tooggle-admin-menu .hide,
    #sfsidepanel .sf-tooggle-admin-menu .show {
        height: 50px;
        text-align: center;
        line-height: 50px;
        font-family: "Open Sans Semibold";
        font-size: 12px;
        text-transform: uppercase;
    }
    #sfsidepanel .sf-tooggle-admin-menu .hide {
        display: none;
        background-color: #85A2BC;
        color: #FFF;
        -khtml-border-radius: 3px 3px 0 0;
        -webkit-border-radius: 3px 3px 0 0;
        border-radius: 3px 3px 0 0;
    }
    #sfsidepanel .sf-tooggle-admin-menu .show {
        display: block;
        background-color: #F9F9F9;
        color: #006992;
        -khtml-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        margin-bottom: 20px;
        box-shadow: 0 3px 6px rgba(157, 158, 160, .05);
    }
    #sfsidepanel.sf-admin-menu-mobile-show .sf-tooggle-admin-menu .show {
        display: none;
    }
    #sfsidepanel.sf-admin-menu-mobile-show #sfadminmenu,
    #sfsidepanel.sf-admin-menu-mobile-show .sf-tooggle-admin-menu .hide {
        display: block;
    }
    #sfadminmenu {
        display: none;
        -khtml-border-radius: 0 0 3px 3px;
        -webkit-border-radius: 0 0 3px 3px;
        border-radius: 0 0 3px 3px;
        overflow: hidden;
        margin-bottom: 10px;
    }
    #sfmaincontainer {
        margin: 0;
    }
    #sfmaincontainer legend {
        top: -60px;
        padding: 0;
    }
    #sfmaincontainer legend strong {
        height: 30px;
        line-height: 30px;
        color: #27476E;
    }
    #sfmaincontainer div.sfhelplink {
        margin: 15px 5px 15px 0 !important;
    }
    #sfmaincontainer fieldset .search-box {
        top: 0;
    }
    #sfmaincontainer fieldset .search-box #search_id-search-input {
        width: calc(100% - 74px);
        -khtml-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }

}

